.wrapper {
  align-items: center;
  color: #fff;
  background-color: #ebebeb;
  border-radius: 50%;
  display: inline-flex;
  font-size: 20px;
  font-weight: 300;
  height: 75px;
  justify-content: center;
  letter-spacing: 0.15em;
  width: 75px;
}
