.wrapper {
  color: #334e6f;
  font-weight: 600;
  line-height: 1.66;
  margin: 0;
}

.wrapper1 {
  font-size: 26px;
}

.wrapper2 {
  font-size: 24px;
}

.wrapper3 {
  font-size: 22px;
}

.wrapper4 {
  font-size: 18px;
}
